body {
	background-color: black;
	font-family: 'Abril Fatface', cursive;
}

/* ---- Logo centered; Only on "Home" --- */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
/*---------------------------*/

/* ---- Navigationbar --- */
nav ul { /* navi list */
	list-style-type: none; /*Removing the bullet points from list*/
	margin: 10px;	
	padding: 10px;	
	border: 1px solid white; /*solid box around links */
}


nav li {
	letter-spacing: 1px; /* list items */
	word-spacing: 10px;
	display: inline; /* displaying list-items horizontally */
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a { /* list item highlighting */
    color: white;
    text-align: center;
    padding: 10px 14px; 
    text-decoration: none;
}

nav li a:hover { /* func changing bckgrnd color to grey when cursor hovers over*/
	background-color: grey; 
}

nav li a.current{ /* keeps selected link in navbar higlighted */
	background: grey;
	color: #ffffff;
}
/*---------------------------*/

/* ---- Only on "About", Text --- */

div.about{ /* check for spelling on html e.g. caps! */
	color: #e6e6e6;
	font-size: 15px;
	word-spacing: 4px;
	margin: 15px 10px 10px 10px;
	padding: 15px;
	border: 2px white solid;
}

div.about p { /*if not defined seperately, 'p' will be proprtionally smaller in regards to 'h1' */
	font-size: 15px;
}
/*---------------------------*/

/* ---- on "Technologies" & Mail --- */

#technologies{ /* -> div id="technologies" */
	color: #e6e6e6;
	font-size: 10px;
	word-spacing: 4px;
	margin: 15px 10px 10px 10px;
	padding: 15px;
	border: 2px white solid;
}
/*---------------------------*/

/* ---- Only on "Links" --- */

#linkedsites{ /* -> div id="linkedsites" */
	color: #e6e6e6;
	font-size: 20px;
	word-spacing: 4px;
	margin: 15px 10px 10px 10px;
	padding: 15px;
	border: 2px white solid;
}
/*---------------------------*/

div.links{ /* properties of all links */
	font-size: 20px;
	height: 10px;
	width: 10px;
	color: white;
    text-align: center; 
    text-decoration: underline;
    display:inline;
}

